body {
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

.buttonSettings {
    width: 100px;
    height: 100px;
    background-color: black;
}

.buttonSettings:hover {
    opacity: 0.7;
}

.buttonSettings:active {
    opacity: 0.5;
}